[submodule "lunar"]
	path = lunar
	url = https://github.com/kindtracker/lunar.git
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua.git
[submodule "luafilesystem"]
	path = luafilesystem
	url = https://github.com/lunarmodules/luafilesystem.git
[submodule "socket"]
	path = luasocket
	url = https://github.com/luapower/socket.git
[submodule "luamimetypes"]
	path = luamimetypes
	url = https://github.com/lunarmodules/lua-mimetypes.git
